.Modal {
    position: absolute;
    top: 80px;
    left: 40px;
    right: 40px;
    bottom: 70px;
    /* width: 80%; */
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 2px 2px 6px #929292b0;
    z-index: 1;
   
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; /* Enable scroll if needed */
    z-index: 2;
    background-color: rgba(65, 3, 51, 0.445); /* Black w/ opacity */
  }


  .modal-content{
width: 90%;
margin-top: 5% ;
margin-right: 7%;
/* padding: 2% 2rem; */
  }

  
  .trigger-button{
    border: none;
    background-color: #ffffff;
  }


  .note-title{
      font-size: 14px;
      text-align: center;
      color: #dc47a4;
      margin-bottom: -0.2rem;
  }

  .modal-line{
      width: 95%;
      margin-right: 0.5rem;
      justify-content: center;
      margin-bottom: 1.5rem;
  }

  .reminder{
      display: flex;
      justify-content: space-between;
      width: 90%;
  }

  .select-item{
      width: 90%;
      height: 1.7rem;
  }

  .note-text{
      width: 90%;
      height: 5rem;
  }

  .note-text:hover,
  .note-text:focus{
outline: none;

  box-shadow: 0px 0px 2px rgba(226, 91, 196, 0.25);
 

}


  .note-input{
      border-radius: 10px;
      border: 1px solid #dc47a4;
  }


  .label-text{
      font-size: 13px;
      margin-right: 0.5rem;
      color: #dc47a4;
      margin-top: -5rem;
  }

  .span-text{
    font-size: 14px;
    margin-right: 0.5rem;
}

.checkbox{
    border: 1px solid #dc47a4;
    width: 3rem;
}

.confirm-button{
    width: 40%;
    height: 2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(226, 91, 196, 0.25),
    0px 4px 25px rgba(226, 91, 196, 0.4);
    margin-right: 30%;
    margin-bottom: 1rem;
    background-color: #ffffff;
    color: #dc47a4;
}

