body{
    background-color: rgb(53, 212, 240);
}

/* #cvb { */
    /* transition: all 0.5s ease; */
    /* background: red; */
    /* padding: 10px; */
    /* margin-right: 0px; */
  /* } */

  /* #cvb:hover { */
    /* background: green; */
    /* padding: 40px; */

    /* margin-right: 130px;
    width: 60px;
    opacity: 0.6; */

    /* width: 20px; */

  /* } */