.meal-container{
    /* position: fixed;  */
    /* height: auto; 
    background-size: cover;
      background-attachment: scroll; */
      /* overflow: auto; */
      height: 230vh;


    background: repeating-linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.25) 6.94%,
        rgba(255, 228, 228, 0.25) 35.62%,
        rgba(255, 167, 167, 0.25) 53.12%,
        rgba(255, 150, 150, 0.25) 66.52%,
        rgba(255, 177, 177, 0.163175) 83.46%,
        rgba(255, 230, 230, 0) 100%
      ),
      linear-gradient(
        342.44deg,
        rgba(255, 163, 163, 0.5) 0%,
        rgba(255, 163, 163, 0) 100%
      ); 

 
}





.meal-icon{
    margin-top: 25%;

    width: 65%;
    margin-bottom: 1rem;
}

input:focus ~ span {
  display:none;
  visibility: hidden;
}